html {
    background-color: lightslategrey;  
	font-family:Sans-Serif;
}
/*--------------- Design h ------------------------*/
h1 {
	color:purple;
    text-align: center;
	margin-bottom:5.5px;/* Skapar ett gap mellan h1 och div */
}
/*--------------- Design Body ------------------------*/
body {
    margin-left: 38%;
	justify-content: space-around;
	align-items: center;
	height: 95vh;
	max-width: 410px;
    padding-bottom:0.1px; /*knep för div margin */
	background-color: azure;
}

/*--------------- Design Div ------------------------*/
/* Design div for id=billy */
#billy{
	width:380px;
	height: 40vh;
	border:1px solid purple;
    border-radius: 5px; /* för rund border */
    padding:6px;
	margin:auto;
	margin-top: 5px;
	margin-bottom: 5px;/* Skapar ett gap mellan de två divarna */
	background-color:azure;
    overflow: hidden;
	color:Brown;
	text-align:left;
	font-size:small;
	
}

/* Design div for id=bob */
#bob{
	width:380px;
	height: 40vh;
	border:1px solid purple;
    border-radius: 5px; /* för rund border */
    padding:6px;
	margin:auto;
	background-color:azure;
    overflow: hidden;
	color:Green;
	text-align:left;
	font-size:small;
}


/*--------------- Design P ------------------------*/
.two {
    font-size: medium; /* Större text i 2:a stycket för både div */
}

.two + .three {
    font-size: xx-small; /* Mindre text i 3:e stycket för både div med hjälp av syskonväljare */
}
.two + .three + p {
    font-weight: bold; /*texten i sista stycket i båda divarna blir bolder  */
}
/* Design för 1a P */
#bob > .two + .three + p {
    margin: 1px;
    text-align: justify; /* Justifies the text */
}

/*--------------- Design a=link ------------------------*/
#bob a {
    text-decoration: line-through; /* line-through för andra divs länkerna */
}
#bob > .two a {
    text-decoration: underline overline; /* underline för andra stycken i andra vivs länkerna */
}